body {
    margin: 0;
    padding: 0;
}

body,
html {
    overflow-x: hidden;
    overflow: visible;
}

.sidebar {
    background-color: rgb(225, 225, 255, 0.15);
    backdrop-filter: blur(10px);
}

nav {
    background-color: black;
}

.clear {
    clear: both;
}

ul a::after {
    content: '';
    width: 0%;
    height: 3px;
    margin: auto;
    display: block;
    background: #FA394A;
    transition: all .5s;


}

ul a:hover::after {
    width: 100%;

}

nav i {
    margin-left: 5px;
}

/* section2 */

.section2 {
    width: 100%;
}

.backgroundimg {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(rgb(0, 30, 67, 0.92), rgb(0, 30, 67, 0.92)), url("/img/bg.jpg");

}

/* SECTION3 */

.section3 {
    width: 90%;
    margin: auto;
    margin-top: 4%;
}

.borders {
    border-radius: 12px;
    margin: 9px;
    /* padding: 21px; */

}


.rows img {
    width: 100%;
    height: 330px;
    border-radius: 8px;
}

 video
 {
    width: 100%;
    
    height: 330px;
    border-radius: 8px;
}

.rows1 {
    width: 25%;
    float: left;

}

.rows2 {
    width: 40%;
    float: left;

}


.rows3 {
    width: 35%;
    float: left;

}

.rows4 {
    width: 35%;
    float: left;
}


.rows5 {
    width: 39%;
    float: left;
}


.rows6 {
    width: 26%;
    float: left;
}

.rows7 {
    width: 25%;
    float: left;
}

.rows8 {
    width: 25%;
    float: left;
}

.rows9 {
    width: 25%;
    float: left;
}

.rows10 {
    width: 25%;
    float: left;
}





/* FOOTER */
.footers {
    width: 100%;
    margin-top: 6%;
    background-color: #45526e;


}

.footerow {
    width: 90%;

    margin: auto;
    color: white;
}

.footerrow1 {
    width: 25%;
    float: left;
    text-align: center;
}

.footerrow2 {
    width: 25%;
    float: left;

}

.footerrow3 {
    width: 50%;
    float: left;

}

.footerborder {
    margin: 10px;
    padding: 21px;
}

.footerrow1 img {
    width: 90%;
    height: 150px;
    border-radius: 12px;
}

.links a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: larger;
}

.contact i {
    display: flex;
    float: left;
    position: relative;
    top: 5px;
}

.contact p {
    position: relative;
    left: 12px;
}

.link {
    background-color: #45526e;
    width: 100%;
    text-align: center;
}

.icon {
    display: inline;
    margin: 12px;
    color: white;
}

.icon i {
    font-size: xx-large;
    box-shadow: 2px 2px 10px rgb(93, 92, 92, 0.8), -2px -2px 10px rgb(0, 0, 0, 0.8), -2px 2px 10px rgb(0, 0, 0, 0.8);
    text-align: center;
    border-radius: 50%;
    padding-top: 9px;
    width: 50px;
    height: 50px;
}

.copyright {
    text-align: center;
    color: white;
    font-size: large;
}


/* RESPONSIVE DESIGN */

/* MOBILES */

@media (min-width: 0px) and (max-width:576px) {

    .rows1 {
        width: 100%;
       
    
    }
    
    .rows2 {
        width: 100%;
      
    }
    
    
    .rows3 {
        width: 100%;
      
    
    }
    
    .rows4 {
        width: 100%;
        
    }
    
    
    .rows5 {
        width: 100%;
    }
    
    
    .rows6 {
        width: 100%;
    }
    
    .rows7 {
        width: 100%;
    }
    
    .rows8 {
        width: 100%;
    }
    
    .rows9 {
        width: 100%;
    }
    
    .rows10 {
        width: 100%;
    }
    


    /* FOOTER */

    .footerrow1 {
        width: 100%;
    }

    .footerrow2 {
        width: 100%;
    }

    .footerrow3 {
        width: 100%;


    }

    .footerrow1 img {
        width: 50%;
        height: 100px;
        border-radius: 7px;
    }

    .link {

        padding: 20PX;

    }

}

/* TABLETES */

@media (min-width: 577px) and (max-width:768px) {

    .rows1 {
        width: 50%;
        float: left;
    
    }
    
    .rows2 {
        width: 50%;
        float: left;
    
    }
    
    
    .rows3 {
        width: 50%;
        float: left;
    
    }
    
    .rows4 {
        width: 50%;
        float: left;
    }
    
    
    .rows5 {
        width: 60%;
        float: left;
    }
    
    
    .rows6 {
        width: 40%;
        float: left;
    }
    
    .rows7 {
        width: 50%;
        float: left;
    }
    
    .rows8 {
        width: 50%;
        float: left;
    }
    
    .rows9 {
        width: 50%;
        float: left;
    }
    
    .rows10 {
        width: 50%;
        float: left;
    }
    

    /* FOOTER */

    .footerrow1 {
        width: 50%;
    }

    .footerrow2 {
        width: 50%;
    }

    .footerrow3 {
        width: 100%;


    }

    .footerrow1 img {
        width: 70%;
        height: 100px;
        border-radius: 7px;
    }

    .link {

        padding: 20PX;

    }

}

@media (min-width: 769px) and (max-width:992px) {

    .rows1 {
        width: 50%;
        float: left;
    
    }
    
    .rows2 {
        width: 50%;
        float: left;
    
    }
    
    
    .rows3 {
        width: 50%;
        float: left;
    
    }
    
    .rows4 {
        width: 50%;
        float: left;
    }
    
    
    .rows5 {
        width: 60%;
        float: left;
    }
    
    
    .rows6 {
        width: 40%;
        float: left;
    }
    
    .rows7 {
        width: 50%;
        float: left;
    }
    
    .rows8 {
        width: 50%;
        float: left;
    }
    
    .rows9 {
        width: 50%;
        float: left;
    }
    
    .rows10 {
        width: 50%;
        float: left;
    }
    

    /* FOOTER */

    .link {

        padding: 20PX;

    }
}

/* TABLETS */

@media (min-width: 993px) and (max-width:1200px) {

    .rows1 {
        width: 25%;
        float: left;
    
    }
    
    .rows2 {
        width: 40%;
        float: left;
    
    }
    
    
    .rows3 {
        width: 35%;
        float: left;
    
    }
    
    .rows4 {
        width: 35%;
        float: left;
    }
    
    
    .rows5 {
        width: 39%;
        float: left;
    }
    
    
    .rows6 {
        width: 26%;
        float: left;
    }
    
    .rows7 {
        width: 25%;
        float: left;
    }
    
    .rows8 {
        width: 25%;
        float: left;
    }
    
    .rows9 {
        width: 25%;
        float: left;
    }
    
    .rows10 {
        width: 25%;
        float: left;
    }
    


    /* FOOTER */
    .link {

        padding: 20PX;

    }
}


/*DESKTOPS */

@media(min-width:1200px) {



    /* FOOTER */
    .link {

        padding: 20PX;

    }
}